<main class="rents-container">
  <h3>Últimos alugueis:</h3>
  <div *ngIf="rents.length > 0" class="cards-container">
    <div class="card" *ngFor="let rent of rents">
      <p><span>Carro:</span> {{getCarModel(rent.carId)}}</p>
      <p><span>Início:</span> {{rent.rentStart | date: 'dd/MM/yyyy - hh:mm'}}</p>
      <p><span>Fim:</span> {{rent.rentEnd | date: 'dd/MM/yyyy - hh:mm'}}</p>
      <p><span>Total:</span> R$ {{rent.total | number: '1.2-2'}}</p>
    </div>
  </div>
  <div *ngIf="rents.length === 0" class="no-rents">
    <h4>Nenhum aluguel feito ainda</h4>
  </div>
</main>