.admin-container {
  background-color: #F0EDEE;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 0;
}

.cars-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.cars-container h3{
  margin-bottom: 20px;
}

table{
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td, table th {
  border: 2px solid #AAAAAA;
  padding: 5px;
}

table thead {
  background: #DDDDDD;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

table button {
  box-shadow: rgb(145 184 179) 0px 1px 3px 0px inset;
  background: linear-gradient(rgb(118, 141, 135) 5%, rgb(108, 124, 124) 100%) rgb(118, 141, 135);
  border-radius: 5px;
  border: 1px solid rgb(86, 105, 99);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: rgb(43 102 94) 0px -1px 0px;
}

table button:nth-of-type(1) {
  margin-right: 15px;
}

.create-car-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;  
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.form-container label input {
  padding: 3px;
  margin-top: 5px;
  font-size: 16px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgb(42 42 42 / 75%);
}

.form-container button {
  box-shadow: rgb(145 184 179) 0px 1px 3px 0px inset;
  background: linear-gradient(rgb(118, 141, 135) 5%, rgb(108, 124, 124) 100%) rgb(118, 141, 135);
  border-radius: 5px;
  border: 1px solid rgb(86, 105, 99);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: rgb(43 102 94) 0px -1px 0px;
}

@media screen and (max-width: 768px) {
  th, td {
    font-size: 12px !important;
  }
  
  table button:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
