nav {
  padding: 10px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 90vw;
}

nav div {
  padding: 10px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 90vw;
}

a {
  text-decoration: none;
  color: wheat;
  font-weight: 500;
  margin: 0 10px;
}

button {
  background-color: transparent;
  border: none;
  color: wheat;
  font-weight: 500;
  margin-left: 20px;
  font-size: 17px;
  cursor: pointer;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav-link {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav {
    position: relative;
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  nav div {
    flex-direction: column;
    padding: 0;
  }

  .topnav a {
    margin: 10px 0;
  }

  a.icon {
    position: absolute;
    right: 0;
    top: -15px;
  }
  
  .fa-bars {
    font-size: 2em;
  }

  .topnav.responsive .topnav-link {
    float: none;
    display: block;
    text-align: left;
  }

  .log-out {
    margin-top: 20px;
  }
}
