<app-header>
  <app-navbar></app-navbar>
</app-header>
<main class="login-container">
  <section>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <label>
        <input
          type="email"
          placeholder="E-mail"
          formControlName="userEmail"
        >
      </label>
      <label>
        <input
          type="password"
          placeholder="Senha"
          formControlName="userPassword"
        >
      </label>
      <button>Login</button>
  </form>
  </section>
</main>