<app-header>
  <app-navbar></app-navbar>
</app-header>
<main class="login-container">
  <section class="card">
    <h3>
      Seja bem vinda(o)!
      <br>
      Faça login
    </h3>
    <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm()">
      <input
        type="email"
        placeholder="E-mail"
        formControlName="userEmail"
      >
      <input
        type="password"
        placeholder="Senha"
        formControlName="userPassword"
      >
      <button>Login</button>
    </form>
    <h4>Ou crie uma conta</h4>
    <a routerLink="/register">Criar Conta</a>
  </section>
</main>